{% extends 'music/base.html' %}

{% block title %} {{ naming }} Album {% endblock title %}

{% block content %}
    <div class="row">
        <div class="input-field col s12 m6 offset-m3">
            <form action="" method="POST"enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn waves-effect waves-light blue-grey darken-4" type="submit">{{ naming }} Album</button>
            </form>
        </div>
    </div>
{% endblock content%}