.title-font {
    font-family: 'Righteous', cursive;
}

.btn-border-2 {
    border: 2px solid #263238;
    height: 45px;
    width: 100%;
}

.mt-40 {
    margin-top: 40px;
}

.w-100{
    width: 100%;
}

.centered {
    text-align: center;
}

#search {
    color: darkgray;
}

.input-group{
  display:table;
  width:100%;
}

.input-group .input-field,
.input-group .input-group-addon{
  display:table-cell;
}